/* Write your CSS here */
.background-container {
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}
.heading {
  font-family: Roboto;
  font-weight: 600;
  font-size: 50px;
}
.button {
  background-color: #ffffff;
  padding: 10px;
  color: #000000;
  font-family: Roboto;
  font-weight: 600;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
}
.darkMode {
  color: white;
}
.darkBack {
  background-color: #000000;
}
